<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_HOME" value="./.logs"/>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss} [%thread] [%-5level] %logger{36}[%X{requestId} | %X{requestMethod} |
                %X{requestUrl}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 파일 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}/app_current.log</file>

        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss} [%thread] [%-5level] %logger{36} [%X{requestId} | %X{requestMethod} |
                %X{requestUrl}] - %msg%n
            </pattern>
        </encoder>

        <!-- 날짜별 롤링 + 30일 보관 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 매일 파일 생성 -->
            <fileNamePattern>${LOGS_HOME}/archived/app_%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- 보관 기간 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 로컬 -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 운영 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
